/* ==========================================================================
                                General Styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: "Lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-size: 1.4em;
  font-weight: 300;
}

.big-bold {
  font-size: 2em;
  font-weight: 700;
}

.mt {
	margin-top: 100px;
}

.bump-down {
  padding-top: 50px;
}

/* ==========================================================================
                                  Jumbotron
   ========================================================================== */

#headerwrap {
	background: url(../img/workspace.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:120px;
	background-attachment: relative;
	background-position: center center;
	min-height: 100vh;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  text-transform: uppercase;
	color:#ffffff;
	margin-top: 90px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #555;
}

/***** Countdown Timer *****/
#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 200;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #2f2f2f;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #555;
	display: inline-block;
}

/* ==========================================================================
                                About Section
   ========================================================================== */

#aboutwrap {
	margin-top: 80px;
	margin-bottom: 80px;
  min-height: 100vh;
}

#aboutwrap i {
	font-size: 50px;
}

.name-zig {
	width: 146px;
	height: 17px;
	margin: 20px 5px 20px;
	background: url(../img/name-zig.png) 0 0 no-repeat;
	background-size: 146px 17px;
}

.title h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 4rem;
	line-height: 1.45;
	font-weight: 300;
}

/* ==========================================================================
                                Sponsor Section
   ========================================================================== */

#portfoliowrap {
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
}

#portfoliowrap h1 {
	font-weight: 300;
	text-align: center;
	margin-bottom: 50px;
}

.mb {
	margin-bottom: 60px;
}

/* ==========================================================================
                                  FAQ Section
   ========================================================================== */

#faqwrap {
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
}

#faqwrap h1 {
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}

.question {
	text-align: left;
}

.question small {
	font-size: 12px;
	font-weight: bold
}

.question i {
	float: left;
	margin-right: 15px;
	font-size: 30px;
	vertical-align: middle;
}

.question .text {
	color: #767676
}

/* ==========================================================================
                          Hackathon Leaders Section
   ========================================================================== */

#leaders {
  color: #fff;
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
	background-color: #2f2f2f;
}

/* ==========================================================================
                                RSVP Section
   ========================================================================== */

#contactwrap {
	margin-top: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#contactwrap small {
	font-size: 13px;
}

#contactwrap label {
	color: #f2f2f2;
	margin-top: 10px;
}

/* ==========================================================================
                              Sponsor Hover Effect
   ========================================================================== */
   @-webkit-keyframes swing
   {
       15%
       {
           -webkit-transform: translateX(5px);
           transform: translateX(5px);
       }
       30%
       {
           -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
       }
       50%
       {
           -webkit-transform: translateX(3px);
           transform: translateX(3px);
       }
       65%
       {
           -webkit-transform: translateX(-3px);
           transform: translateX(-3px);
       }
       80%
       {
           -webkit-transform: translateX(2px);
           transform: translateX(2px);
       }
       100%
       {
           -webkit-transform: translateX(0);
           transform: translateX(0);
       }
   }
   @keyframes swing
   {
       15%
       {
           -webkit-transform: translateX(5px);
           transform: translateX(5px);
       }
       30%
       {
           -webkit-transform: translateX(-5px);
           transform: translateX(-5px);
       }
       50%
       {
           -webkit-transform: translateX(3px);
           transform: translateX(3px);
       }
       65%
       {
           -webkit-transform: translateX(-3px);
           transform: translateX(-3px);
       }
       80%
       {
           -webkit-transform: translateX(2px);
           transform: translateX(2px);
       }
       100%
       {
           -webkit-transform: translateX(0);
           transform: translateX(0);
       }
   }

   .swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/* ==========================================================================
                                Parallax Dividers
   ========================================================================== */

.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;
}

.about {
	background-image: url(../img/code.jpg);
}

.portfolio {
 background-image: url(../img/keyboard.jpg);
}

.contact {
 margin-bottom: 100px;
	background-image: url(../img/chip.jpg);
}

/* ==========================================================================
                                   Sidenav
   ========================================================================== */

.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 25px;
	font-size: 20px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}
